{{- /* Head custom content area start */ -}}
{{- /*     Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */ -}}
{{- /*     Can be overwritten by partial with the same name in the global layouts. */ -}}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
{{ partial "mathjax.html" . }}
{{ if .Page.Store.Get "hasMermaid" }}
<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
<script>
    const initializeMermaid = () => {
        const isDark = document.body.className.includes('dark');
        const theme = isDark ? 
            '{{ .Site.Params.mermaid.theme.dark | default "dark" }}' : 
            '{{ .Site.Params.mermaid.theme.light | default "default" }}';
        
        mermaid.initialize({
            startOnLoad: true,
            theme: theme,
            align: '{{ .Site.Params.mermaid.align | default "center" }}',
            flowchart: {
                useMaxWidth: true,
                htmlLabels: true,
                curve: 'basis'
            },
            sequence: {
                useMaxWidth: true,
                showSequenceNumbers: true
            }
        });
    };

    // 初始化
    document.addEventListener('DOMContentLoaded', initializeMermaid);

    // 监听主题切换
    const observer = new MutationObserver((mutations) => {
        mutations.forEach((mutation) => {
            if (mutation.attributeName === 'class') {
                mermaid.initialize({ theme: document.body.className.includes('dark') ? 
                    '{{ .Site.Params.mermaid.theme.dark | default "dark" }}' : 
                    '{{ .Site.Params.mermaid.theme.light | default "default" }}'
                });
                // 重新渲染所有图表
                mermaid.init(undefined, document.querySelectorAll('.mermaid'));
            }
        });
    });

    observer.observe(document.body, {
        attributes: true
    });
</script>
{{ end }}
{{- /* Head custom content area end */ -}}
